services:

  core:
    container_name: strife-core
    build: 
      context: ./core
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./core:/usr/src/app
      # - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - sql
      - nosql
    restart: always

  web:
    container_name: strife-web
    build: 
      context: ./web
      target: dev
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - ./web:/usr/src/app
      # - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - core
    restart: always

  sql:
    container_name: strife-sql
    image: mysql:lts
    ports:
      - "3306:3306"
    volumes:
      - sql-data:/var/lib/mysql
      # Optionally mount initialization scripts:
      # - ./init-scripts:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: public
    restart: always

  nosql:
    container_name: strife-nosql
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - nosql-data:/data/db
      # Optional: mount scripts to initialize collections or seed data
      # - ./init-scripts:/docker-entrypoint-initdb.d
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: public
    restart: always

volumes:
  sql-data:
  nosql-data: